<% if !@sqls.empty? %>
  <div class="last_sql_queries">
    <h3>Last SQL queries</h3>
    <ul>
      <% @sqls.reverse_each do |sql| %>
        <li><%= link_to truncate(sql.body, 250), datab_sql_path(@datab, sql.id) %></li>
      <% end %>
    </ul>    
  </div>
<% end %>
