<% if !@sqls.empty? %>
  <div class="last_sql_queries">
    <h3>Last SQL queries</h3>
    <ul>
      <% @sqls.reverse_each do |sql| %>
        <li>
          <%= link_to truncate(sql.body, 200), datab_sql_path(@datab, sql.id) %>
          <span class="num_rows">(<%= pluralize sql.num_rows, 'row' %>)</span>
        </li>
      <% end %>
    </ul>    
  </div>
<% end %>
