<% @title = 'Listing available databases' %>

<% form_for @datab do |f| %>
	<%= f.label :name, 'New database:' %>
	<%= f.text_field :name %>
	<%= f.submit 'Create' %>
<% end %>
<table>
  <tr>
  </tr>
<% for datab in @databs %>
  <tr>
	  <td><%= link_to datab.name, datab %></td>
  </tr>
<% end %>
</table>
