<h1>Editing relation</h1>

<% form_for(@relation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @relation %> |
<%= link_to 'Back', relations_path %>
