<% @title= 'Relations' %>
<table>
  <tr>
  </tr>

<% for relation in @relations %>
  <tr>
    <td><%= link_to 'Show', relation %></td>
    <td><%= link_to 'Edit', edit_relation_path(relation) %></td>
    <td><%= link_to 'Destroy', relation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New relation', new_relation_path %>
