//reset values
h1
  :padding 0px
  :margin 0px
body
  :background-color white
  :color #333
  :margin 0px
  :padding 0px

body, p, ol, ul, td
  :font-family verdana, arial, helvetica, sans-serif
  :font-size 13px                               
  :line-height 18px

a, a:visited
  :color #0088CC
  :text-decoration none
a:hover
  :text-decoration underline


// Header section
.header
  :width 100%
  :height 50px
  :color white
  :margin 0px
  :background-color #333333
  h1
    :padding 5px

.db-selection
  :float right
.database-selector  
  :position relative
  :margin-bottom 15px  

.pagination
  :border-top 1px solid #EFEFEF