<p>Sorry, The settings are not implemented yet.</p>
<p>They will allow a user to set some preferences like hiding and ordering fields on tables. These settings will be saved in YAML so there still will be no need for an rbDB database.</p>