<% if lasts.size > 0 %>
  <div class="last_tables">
    <h2>Last tables</h2>
    <ul>
      <% lasts.reverse_each do |last| %>
        <li><%= link_to last, datab_table_path(@datab, last) %></li>
      <% end %>
    </ul>
  </div>  
<% end %>
