<% content_for :submenu do %>
	<% if session[:structure] %>
		<li class="current">Structure
	<% else %>
		<li><%= link_to 'Structure', datab_table_path(@datab, @table, :structure => '') %>
	<% end %>
	</li>
	<% if session[:browse] %>
	<li class="current">
		Content
	<% else %>
	<li><%= link_to 'Content', datab_table_path(@datab, @table, :browse => '') %>
	<% end %>
	</li>
	<li><%= link_to 'Reports', datab_table_graphs_path(@datab, @table) %>
<% end %>