<h1>Editing table</h1>

<% form_for(@table) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @table %> |
<%= link_to 'Back', tables_path %>
