<h1>Listing searches</h1>

<table>
  <tr>
  </tr>

<% for search in @searches %>
  <tr>
    <td><%= link_to 'Show', search %></td>
    <td><%= link_to 'Edit', edit_search_path(search) %></td>
    <td><%= link_to 'Destroy', search, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New search', new_search_path %>
